.*
*.md
*.log

Thumbs.db
/vendor/
/node_modules/
/var/
/public/bundles/
/config/reference.php
/config/secrets/prod/prod.decrypt.private.php

!/.editorconfig
!/.env.example
!/.env.test
!/.gitattributes
!/.gitignore
!/.github/
!/.github/**
!/README.md
!/DEPLOY.md
!/LICENSE

!/composer.json
!/composer.lock
!/phpunit.xml
!/phpunit.xml.dist
!/phpstan.neon
!/phpcs.xml
!/rector.php
!/symfony.lock
!/importmap.php

!/bin/
!/bin/console
!/config/
!/config/**
!/migrations/
!/migrations/**
!/public/
!/public/index.php
!/public/favicon.ico
!/public/robots.txt
!/public/assets/
!/public/assets/**
!/public/brand/
!/public/brand/**
!/src/
!/src/**
!/templates/
!/templates/**
!/tests/
!/tests/**
!/brand/
!/brand/**

# Always ignore OS cruft regardless of whitelist
**/.DS_Store
